*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf") format("woff");
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  } 

html {
    scroll-behavior: smooth;
}
.body {
    font-family: OpenSans-Regular OpenSans-Bold sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url("../images/site-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(228, 249, 255); 
}
.header, .advantages {
    font-size: 2.8rem;
}
.header, .advantages, .stock, .services, .work-examples, .contacts {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.container-header {
    position: relative;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
.header-logo {
    width: 30%;
}
.container-header::after {
    position: absolute;
    bottom: -5px;
    content: "";
    height: 10px;
    width: 100%;
    border-bottom: 5px solid #474e93;
}
.container-title-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
} 
.header-title {
    font-family: "OpenSans-Bold";
    color: #000000;
    font-size: 1em;
    font-style: italic;
    text-align: center; 
}
.card-contact {
   margin-bottom: 10px;
}
.contact-link:nth-child(n+2) {
    margin-left: 20px;
}
.contact-link {
    text-decoration: none; 
    font-family: "OpenSans-Bold";
    color: #474e93;
    font-size: 0.5em;
    font-style: italic;   
}
.contact-link:hover {
    text-decoration: underline; 
}
.menu-list {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.menu-list-item {
    list-style-type: none;
    width: 15%;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/menu-banner-link.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-color: #000000;
    box-shadow: 5px 5px 3px 5px rgba(0, 110, 255, 0.253);
    border: 6px solid #3b72b2;
    border-radius: 50%;
}
.menu-list-item:nth-child(n+2) {
    margin-left: 30px;
}
.menu-link {
    text-decoration: none; 
    font-family: "OpenSans-Bold";
    font-size: 0.5em;
    color: #474e93;
}
.menu-list-item:hover {
    outline: 5px solid #7a92df;
    text-decoration: underline;
}
.btn-page-up {
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 1000;
    opacity: 0;
    transition: 0.5s;
}
.isShow-up-arrow {
    opacity: 1;  
}


.advantages {
    min-height: 400px;
    margin-top: 50px;
    background-image: url("../images/advantages-background.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 60% 100%;
    background-color: rgb(222, 230, 241);
    overflow: hidden;
}
.container-advantages {
    position: relative;
    max-width: 70%;
    min-height: 400px;
    background: linear-gradient(to top, rgb(107, 159, 228), #f6fbff);
    transform: skewX(-25deg);
    margin-left: -10%;
    border-right: 5px solid  rgb(154, 186, 228);
    padding-left: 10%;
}
.container-advantages::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    min-height: 400px;
    width: 5px;
    background-color: rgb(154, 186, 228);

}
.advantages-title, .additional-services-title {
    font-family: "OpenSans-Bold";
}  

.advantages-title {
    padding-right: 50px; 
    font-size: 1em;
    text-align: right;
}

.advantages-list { 
    display: flex;
    list-style-type: none;
    list-style-image: url("../images/list-sign.png");
   
    
}
.advantages-list {
    align-items: flex-end;
    flex-direction: column;
    padding-right: 100px;
}
.advantages-list-item {
    margin-top: 20px;
    padding: 5px;
    border-bottom: 2px solid #3b72b2;
    font-family: "OpenSans-Bold";
    font-size: 0.3em;
}
.container-stock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 200px;
}
.container-stock:nth-child(n + 2) {
    margin-top: 30px;
}
.stock-winter {
    background-image: url(../images/winter-stock-bg.jpg);
}
.stock-spring {
    background-image: url(../images/spring-stock-bg.jpg);
}
.stock-summer {
    background-image: url(../images/summer-stock-bg.jpg);
}
.stock-autumn {
    background-image: url(../images/autumn-ctock-bg.jpg);
}
.stock-autumn::after, .stock-winter::after, .stock-summer::after, .stock-spring::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 100;
}
.stock-autumn::after {
    background-color: #f19a67;
}
.stock-winter::after {
    background-color: #a5a1e6;  
}
.stock-summer::after {
    background-color: #7dabe0;
}
.stock-spring::after {
    background-color: #92e4d6;
}
.stock-discount {
 max-height: 180px;
 border-radius: 50%;
 z-index: 500;
}
.container-discount-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2%;
    width: 76%;
    z-index: 500;
}
.discount-size, .discount-information {
    color: #0a131d;
    font-family: "OpenSans-Bold";
    font-size: 2.8rem;
    text-align: center;
}
.discount-size {
    color: #da3e3e;
}
.services-title, .work-examples-title, .contacts-title, .stock-title {
    position: relative;
    font-family: "OpenSans-Bold";
    font-size: 4rem;
    color: #474e93;
    text-shadow: 2px 2px 3px rgba(86, 95, 177, 0.801);
    text-align: center;
    
}
.services-title::before, .work-examples-title::before, .contacts-title::before, .stock-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 7px;
    width: 30%;
    background-color: #474e93;
}
.services-title::after, .work-examples-title::after, .contacts-title::after, .stock-title::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    height: 7px;
    width: 30%;
    background-color: #474e93;
}
.services-text, .stock-text {
   display: block;
   margin-left: auto;
   margin-right: auto;
   font-family: monospace;
   text-align: center;
   color:#474e93;
   font-weight: 900;
   font-size: 45px;
   white-space: nowrap;
   overflow: hidden;
  
}
.services-text-animation {
    width: 29ch;
    animation: printed-text 2s steps(29);
}
.stock-text-animation {
    width: 18ch; 
    animation: printed-text 2s steps(18);
}
@keyframes printed-text{
    from{
        width: 0;
    }
}
.general-container-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
}
.container-services {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(107, 159, 228, 0.5);
}
.container-services-image {
    background-color: #555eaf;
}
.services-image, .container-services-image {
    width: 100%;
    height: 170px;  
}
.container-services-information {  
    display: flex;
    flex-direction: column;    
}
.services-topic {
    align-self: center;
    font-size: 20px;
}
.services-description {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.btn-services-details {
    width: 100%;
    margin: 20px 0;
    background-color: #474e93;
    color: #f6fbff;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    font-size: 25px;
}
.btn-services-details:hover {
    background-color: #7a92df;
    cursor: pointer;
}
.container-details-list {
    display: none;
    background-color: #7a92df;
}
.services-details-activ {
    display: block; 
}
.services-details-list {
    padding-left: 20px;
    font-family: "OpenSans-Bold";
    padding: 0 20px 20px 40px;
}
.btn-details-close {
    display: block;
    margin-left: auto;
    background-color: #da3e3e;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
}
.btn-details-close:hover {
    cursor: pointer;
}
.container-price {
   display: flex;
   align-self: flex-end;
   margin-bottom: 10px;
  
}
.price {
    font-size: 30px;
    color: aliceblue;
    background-color: #3b72b2;
    padding-left: 10px;
    border-radius: 30%;  
}
.additional-services {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.8rem
}
.additional-services-title {
    margin: 30px 0;
    font-size: 1em;
    font-family: monospace;
    text-align: center;
}
.additional-services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    list-style-image: url("../images/list-sign.png");
    background-color: rgb(107, 159, 228, 0.5);
    padding: 0 30px 40px;
}
.additional-services-item {
    margin-left: 40px;
    margin-top: 20px;
    font-family: "OpenSans-Bold";
    font-size: 0.53em;  
}
.managers-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.managers-description {
    font-family: "OpenSans-Regular";
    text-align: center;
    font-size: 20px;
}
.card-contact-services, .card-contact-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.contact-link-services, .contact-link-footer {
    text-decoration: none; 
    margin-left: 20px;
    margin-right: 20px;
    font-family: "OpenSans-Bold";
    color: #474e93;
    font-style: italic;   
}
.contact-link-services:hover, .contact-link-footer:hover {
    text-decoration: underline; 
}
.container-work-examples {   
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;    
}
.container-slider {
    display: flex;
    transition: all ease 1s;
    margin-bottom: 50px;
    margin-top: 50px;
    border-top: 5px solid #474e93;
    border-bottom: 5px solid #474e93;
    outline: 5px solid #8ed1d3;
    outline-offset: 10px;   
}




.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 15px;
}
.messaging {
display: flex;
justify-content: space-around;
align-self: stretch;

}
.Viber, .WhatsApp, .Telegram {
    text-decoration: none; 
    color: #f6fbff;
    width: 28%;
    text-align: center;
    font-family: "OpenSans-Bold";
    font-size: 25px;
    padding: 20px 20px;
    border-radius: 10% / 50%;
}
.Viber {
    background-color: #7360f2;  
}
.WhatsApp {
    background-color: #25D366;  
}
.Telegram {
    background-color: #0088cc;  
}

.Email {
    margin: 20px 10px;
    color: #474e93;
    font-size: 25px;
    text-align: center;
}
.location {
    margin: 0 auto;
    text-align: center;
}




@media (min-width: 1200px) {
   
}
@media (max-width: 1199px) and (min-width: 641px) {
    .header, .advantages {
        font-size: 1.875rem;
    }
    .container-advantages {
        max-width: 80%;
    }
    .advantages, .container-advantages, .container-advantages::after {
        min-height: 250px;
    }
    .container-advantages {
        transform: skewX(0);
        margin-left: 10px;
        padding-bottom: 40px;
    }
    .advantages-title {
        padding-right: 0; 
        text-align: center;
    }
    .advantages-list {
        align-items: center;
        flex-direction: column;
        padding-right: 0;
    }
    .advantages-list-item {
        font-size: 0.5em;
    }
    .container-discount-information {
        max-width: 700px;
    }
    .discount-size, .discount-information {
        font-size: 1.75rem;
    }
    .services-title::before, .work-examples-title::before, .contacts-title::before, .stock-title::before, .services-title::after, .work-examples-title::after, .contacts-title::after, .stock-title::after {
        width: 13%;
    }
    .container-services {
        width: 35%;
    }
    .container-services:nth-child(n+3) {
        margin-top: 30px;
    }
    .services-text, .stock-text {
        font-size: 1.9rem;
    } 
}
@media (max-width: 640px) {
    .header, .advantages {
        font-size: 1.875rem;
    }
    .header-logo {
        width: 90%;
    }
    .menu-list-item {
        width: calc(50% - 50px);
        padding: 70px 60px;
    }
    .menu-list-item:nth-child(n+2) {
        margin-left: 0px;
    }
    .menu-list-item:nth-child(n+3) {
        margin-top: 30px;
        padding: 60px 60px;
    }
    .menu-list-item:nth-child(2n+2) {
        margin-left: 30px;
    }
    .advantages {
        background-size: 100%;
        background-position: center;
    }
    .container-advantages {
        max-width: calc(90% - 15px);
        transform: skewX(0);
        background: none;
        margin-left: 15px;
        padding-bottom: 40px;
    }
    .advantages-title {
        padding-right: 0; 
        text-align: center;
    }
    .advantages-list {
        align-items: center;
        flex-direction: column;
        padding-right: 0;
    }
    .advantages-list-item {
        font-size: 0.6em;
        text-shadow: 1px 1px 3px #0a131d;
        color: #ffffff;
    }
    .discount-size, .discount-information {
        font-size: 1.12rem;
    }
    .container-stock {
        flex-direction: column;
        justify-content: flex-start;
    }
    .stock-discount {
       margin: 2%;
       max-height: 75px;
    }
    .services-title, .work-examples-title, .contacts-title, .stock-title {
        font-size: 2.8rem;
    }
    .services-title::before, .work-examples-title::before, .contacts-title::before, .stock-title::before, .services-title::after, .work-examples-title::after, .contacts-title::after, .stock-title::after {
        width: 8%;
    }
    .services-text, .stock-text {
        font-size: 1.12rem;
    }
    .container-services {
        width: 75%;
    }
    .container-services:nth-child(n+2) {
        margin-top: 30px;
    }
    .services-image, .container-services-image {
        height: 200px;
    }
    .additional-services {
        font-size: 2.2rem;
    }
    .additional-services-list {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px 30px;
    }
    .messaging {
        flex-direction: column;
        align-items: center;
    }
    .Viber, .WhatsApp, .Telegram {
        width: 75%;
        margin: 10px 0;
    }
}